{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Product{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
  <form class="form-horizontal" method="post">
      <div class="form-group">
           <label for="name">Name</label>
           <input name="name" class="form-control" id="name" value="{{ request.form['name'] }}" >
      </div>
      <div class="form-group">
          <label for="price">Price</label>
          <input name="price" class="form-control" id="price" value="{{ request.form['price'] }}" >
      </div>
      <div class="form-group">
          <label for="quantity">Quantity</label>
          <input name="quantity" class="form-control" id="quantity" value="{{ request.form['quantity'] }}" >
      </div>
      <div class="form-group">
          <label for="locations">Locations</label>
          <input name="locations" class="form-control" id="locations" value="{{ request.form['locations'] }}" >
      </div>
      <input type="submit" value="Save" class="btn btn-primary">
  </form>
</div>
{% endblock %}