<!doctype html>
<title>{% block title %}{% endblock %} - Equine Ecommerce</title>
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <a class="navbar-brand" href="{{url_for('product.index') }}">Equine Ecommerce</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{{url_for('product.index') }}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{url_for('product.products') }}">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('product.createproduct') }}">Create a Product</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{url_for('product.about') }}">About</a>
    </li>
  </ul>
</nav>
<section class="container body-content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>